<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>strings</title>
</head>
<body>
    <script>
        "use strict";
        let mrMeeseeks = "Look at MEE!";
        let mrFleeseeks = "Hey, look at MEEE!!"
        console.log(mrMeeseeks.length);
        console.log(mrMeeseeks.indexOf('a'));
        console.log(mrMeeseeks.lastIndexOf('E'));
        console.log(mrMeeseeks.substring(0, 4));
        console.log(mrMeeseeks.replace("MEE", "HIMM"));
        console.log(mrMeeseeks.trim());
        console.log(mrMeeseeks.concat(" " + mrFleeseeks));
        console.log(mrMeeseeks.toLowerCase());
        console.log(mrFleeseeks.toUpperCase());
    </script>
</body>
</html>
