@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

.alert {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    @apply font-semibold;
}

.alert-error {
    color: #a94442;
    background-color: #f1cfcf;
    border: 1px solid #ebccd1;
    @apply font-semibold;
}

.alert-warning {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #faebcc;
    border-radius: 4px;
    color: #a16207;
    background-color: #fefce8;
    @apply font-semibold;
}

.alert-success {
    color: #3c763d;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    @apply font-semibold;
}

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border: 1px solid #bce8f1;
    @apply font-semibold;
}
